*{
    margin: 0px;
    box-sizing: border-box;
}
.content1,.content2,.content3,.content4,.content5,.content6,.content7,.content8{
    width: 270px;
    height: 150px;
    position: relative;
    margin: 30px;
    background-color: white;
     border-radius: 20px;
}
.content1 img,.content2 img,.content3 img,.content4 img,.content5 img,.content6 img,.content7 img,.content8 img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.content1 p,.content2 p,.content3 p,.content4 p,.content5 p,.content6 p,.content6 p,.content7 p,.content8 p{
    position: absolute;
    padding: 3px;
    width: 60px;
    bottom: 8px;
    right: 5px;
    background-color: black;
    color: white;
    border-radius: 20px;

}
.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding: 50px;
    background-color: aqua;
    

}